.header{
    color:#fff;
      border: 1px solid transparent;
}
.header-link{
    float:right; font-size:14px; height: 50px; padding: 20px 20px; font-size:16px; font-weight: bold;
    color:white;
}
body {
    margin: 0;
    background: #FFF5EE;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
   
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  .carousel__face:nth-child(1) {
    background-image: url(img/Img1\ \(2\).jpeg);
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url(img/Img1\ \(3\).jpeg);
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url(img/Img1\ \(1\).jpeg);
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url(img/Img1\ \(4\).jpeg);
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url(img/Img1\ \(5\).jpeg);
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url(img/Img1\ \(6\).jpeg);
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url(img/Img1\ \(7\).jpeg);
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url(img/img1\(8\).png);
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url(img/img1\(10\).png);
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  